<div class="no-style" style="margin-left: 4px">
    <div class="container">
        <h1>Videoclub 5</h1>
        <form>
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" required>
          </div>
  
          <div class="form-group">
            <label for="passwd">Contraseña</label>
            <input type="text" class="form-control" id="passwd">
          </div>
          
          <div style="text-align: right;">
            <a href="http://localhost:4200/register">Registrate</a>
          </div>
          <button type="submit" class="btn btn-success">Login</button>
  
        </form>
    </div>
</div>