<!DOCTYPE html>
<html lang="en">

<head>
    <title>Videoclub main E1</title>
</head>

<body>
    <table>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
        </tr>
        <tr>
            <td>Sillas</td>
            <td>50€</td>
        </tr>
        <tr>
            <td>Mesas</td>
            <td>100€</td>
        </tr>
    </table>

    <!--ul means unordered list-->
    <ul>
        <!--li means list item-->
        <li>Element 1</li>
        <li>Element 2</li>
        <li>Element 3</li>
        <li>Element 4</li>
    </ul>
    <!--ol means ordered list-->
    <ol>
        <!--li means list item-->
        <li value="50">Element 1</li>
        <li>Element 2</li>
        <li>Element 3</li>
        <li>Element 4</li>
        <li>
            <ol>
                <li style="list-style-type: lower-alpha;">Subelement 1</li>
                <li style="list-style-type: lower-alpha;">Subelement 2</li>
                <li style="list-style-type: lower-alpha;">Subelement 3</li>
                <li style="list-style-type: lower-alpha;">Subelement 4</li>
            </ol>
        </li>
    </ol>

    <form action="/formulario" method="POST">
        <label for="nombre">Nombre</label>
        <input value="Francesc" type="text" id="nombre" name="nombre" placeholder="Nombre" />
        <br>
        <label for="apellido">Apellido</label>
        <input value="Ferrer" type="text" id="apellido" name="apellido" placeholder="Apellido" />
        <br>
        <label for="comentario">Comentario</label>
        <textarea rows="10" cols="50" id="comentario" placeholder="ingresa comentario"
            name="comentario">This is a default comment</textarea>
        <br>
        <button type="button">Tipo button</button>
        <button type="reset">Tipo reset</button>
        <button type="submit">Tipo submit</button>
    </form>
    <h1>Mi primer heading</h1>
    <h2>Mi segundo heading</h2>
    <h3>Mi tercer heading</h3>
    <h4>Mi primer heading</h4>
    <h5>Mi quinto heading</h5>
    <h6>Mi sexto heading</h6>
    <p>Chanchito feliz está muy feliz.</p>
    <p>Chanchito está triste</p>
    <hr>
    <h2>Chanchito felipe</h2>
    <p>
        segundo párrafo <span style="color: brown">es mucho más largo
        </span> y es para probar la etiqueta span <br> <br>
        y para probar la etiqueta br
    </p>
    <!-- This is a comment -->
    <a target="_blank" href="https://www.google.com">Ir a google</a>
    <br>
    <br>
    <img src="C:\Users\fferrer\Documents\GitHub\curso_java_basico\PRACTICA\Equipo1\documentacion\diagrama_beaver.png"
        height="200" width="350" />
    <hr>
</body>

</html>