<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/estilos.css">
    <title>Videoclub Equipo 1</title>
</head>
<body>
    <h1><span th:text="${message}"></span></h1>
    <ul>
        <li th:each="pelicula: ${pelicula}" th:text="${pelicula.titulo}"></li>
    </ul>
</body>
</html>