<div class="no-style" style="margin-left: 4px">
    <div class="container">
        <h1>Videoclub 5</h1>
        <form>

            <div class="form-group">
                <label for="codigoInvitacion">Código de invitación</label>
                <input type="text" class="form-control" id="numInvitacion" required>
            </div>

            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" required>
            </div>

            <div class="form-group">
                <label for="passwd">Contraseña</label>
                <input type="text" class="form-control" id="passwd">
            </div>

            <div class="form-group">
                <label for="passwd">Repite la contraseña</label>
                <input type="text" class="form-control" id="passwd">
            </div>

            <div class="form-group">
                <label for="codigoReferido">Código de referido</label>
                <input type="text" class="form-control" id="numInvitacion" required>
            </div>
          
          <button type="submit" class="btn btn-success">Registrate</button>
  
        </form>
    </div>
</div>