.movie-list {
    list-style: none;
    margin-top: 4vw;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
    max-height: 20rem;
  }
  .search-box{
    position: relative;
    margin-top: 8vw;
    left: 69%;
    width: 20vw;
  }
  .search{
    font-family: "Staatliches" !important;
    padding-left: 1.2vw;
    font-size: 10vw;
    background-color: white;
    border: transparent;
    overflow:hidden;
    border-radius: 40px 40px 40px 0px;
   
  }
  
  .pagination{
    background-color: transparent;
    color: white;
    position: fixed;
    right: 0%;
    bottom: 0%;
    width: 15%;
  
  }
  /*   @media (min-width: 768px) {
      .market-list {
        align-items: center;
        flex-wrap: row wrap;
      }
    } */
    