html, body {
    margin: 0;
}

.hexablue {
    background-color: #226aFF;
}

header {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}

#logo {
    height: 50px;
    width: 180px;
}

.section1 {
    background-color: #CCCCCC;
    float: left;
    overflow: auto;
    padding-bottom: 60px;
    padding-top: 15px;
    width: 75%;
}

.section1 figure {
    margin: 0 auto;
    display: table;
}

#panda {
    height: 180px;
    width: 180px;
}

figcaption {
    font-size: small;
}

aside {
    border: 1px solid red;
    float: right;
    width: 24%;
}

footer {
    color: white;
    clear: both;
    height: 45px;
    padding-top: 5px;
    text-align: center;
}

.btn {
    border-radius: 5px;
    color: whitesmoke;
    padding: 15px;
    text-decoration: none;
}

.btn-primary {
    background-color: rgb(53, 53, 253);
}

.btn-primary:hover {
    background-color: rgb(114, 114, 253);
}