.main-navigation__menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation__menu-btn span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: white;
}

.main-navigation__title {
  color: white;
  font-size: 3vw;
  text-shadow: #0b4230 0.1em 0.1em 0.2em;
}
.main-navigation_img {
  height: 3vw;
  position: absolute;
  left : 9vw;
  border-radius: 50%;
  -webkit-box-shadow: -10px 0px 13px -7px #0b4230, 10px 0px 13px -7px #0b4230,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #0b4230, 10px 0px 13px -7px #0b4230,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.main-navigation__title a {
  text-decoration: none;
  color: white;
}

.main-navigation__header-nav {
  display: none;
}

.main-navigation__drawer-nav {
  height: 100%;
}

@media (min-width: 768px) {
  .main-navigation__menu-btn {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
  }
}
